@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

body {
    margin: 0;
    font-family:'poppins', 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}

.navbar {
    border-bottom: 2px;
    width: 100vw;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

.header {
    background: #6cb0a8ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.header ul {
    display: flex;
}

.header a {
    color: black;
    padding: .5rem 1rem;
}

.agora a {
    color: #eeecec;
    background: #28877cec;
}

.geral {
    background: #eeecec;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campos {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border-radius: 30px;
    width: 40rem;
    height: 32rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ADC9C5;
}

.titulo {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: start;
}

.escolher {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.escolhendo {
    display: flex;
    cursor: pointer;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #28877cec;
}

.escolhendo2 {
    display: flex;
    cursor: pointer;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #28877cec;
}

.icone-escolha {
    width: 50px;
}

.icone {
    width: 40px;
}

.cachorro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    height: 25rem;
    /* background-color: rgba(255, 255, 255, 0.374); */
    border-radius: 10px;
}

.gato {
    display: none;
    /* background-color: rgba(255, 255, 255, 0.374); */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    height: 25rem;
    border-radius: 10px;
}

.resultado {
    background-color: #28877cec;
    display: flex;
    width: 25vw;
    height: 7vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    /* flex-direction: column; */
}

.text>input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: none;
    color: black;
    font-size: 12pt
}

.botao {
    background-color: #28877cec;
    margin: 25px 0px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    color: black;
}

select {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

option {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: none;
}