body {
    margin: 0;
}

.navbar {
    border-bottom: 2px;
    width: 100vw;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

.header {
    background: rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.header ul {
    display: flex;
}

.header a {
    color: black;
    padding: .5rem 1rem;
}

.agora a {
    color: #eeecec;
    background: #28877cec;
}

.geral {
    background: blanchedalmond;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta {
    margin: 15px;
    width: 50px;
}

.card {
    background-color: blueviolet;
    width: 70vw;
    height: 70vh;
    border-radius: 2px;
    display: flex;
}

.historia {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.titulo {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.titulo>span {
    color: brown;
    font-size: 40px;
}

.corpo {
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.corpo>span {
    font-size: 20px;
}

.autor {
    width: auto;
    height: auto;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    margin-top: 20px;
}

.autor>span {
    font-size: 20px;
}

.lado-direito {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

.imagem {
    width: 270px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    max-width: 250;
    max-height: 350px;
    border-radius: 10px;
}

.botao {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-weight: 800;
    color: black;
    background: rgb(111, 0, 255);
}