@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');


 body {
     margin: 0;
     padding: 0;
     font-family:'poppins', 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: #eeecec;
 }

 .inicio {
     width: 100%;
     height: 100vh;
     background-image: url(../imagens/website.jpg);
     background-repeat: no-repeat;
     background-position: center center;
 }

 .info1 {
     display: flex;
     width: 100%;
     height: 90vh;
 }

 .text-inicio {
     color: beige;
     width: 28vw;
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     padding-left: 50px;
 }

 .text-inicio>span {
     font-size: 20px;
 }

 section {
     width: 100%;
     height: auto;
 }

 .curiosidade {
     display: flex;
     width: 100%;
     height: auto;
     background-color: #eeecec;
 }

 .geral-curiosidade {
     width: 100%;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     border-right: 4px solid rgba(0, 0, 0, 0.213);
     flex-direction: column;
 }

 .geral-curiosidade>h1 {
     color: #1c6159ec;
     font-size: 35px;
 }

 .lado-esquerdo {
     display: flex;
     width: 100%;
     height: auto;
     flex-direction: column;
     color: black;
     background-color: #28877cec;
 }

 .card-curio {
     display: flex;
     height: 20rem;
     align-items: center;
     justify-content: center;
 }

 .card-curio2 {
     display: flex;
     height: 20rem;
     align-items: center;
     justify-content: center;
     background-color: #84b2ab;
 }

 .text {
     width: 50%;
     margin: 0px 30px;
 }

 .text>span {
     font-size: 40px;
 }

 .text>p {
     font-size: 20px;
 }

 .adotar {
     display: flex;
     width: 100%;
     height: auto;
     flex-direction: column;
 }



 .minha-hist {
     display: flex;
     margin: 30px;
 }

 .esquerda {
     width: 60%;
     display: flex;
     flex-direction: column;
     margin-right: 30px;
 }

 .text-hist>p {
     font-size: 19px;
 }

 .botoes {
     display: flex;
     width: 70%;
     align-items: center;
     justify-content: space-evenly;
 }

 .botoes>button {
     width: 200px;
     height: 40px;
     border: none;
     border-radius: 8px;
     outline: none;
     cursor: pointer;
     font-weight: 700;
     font-size: 15px;
     color: black;
     background: #639fe9;
     margin-top: 10px;
 }

 .direita {
     width: 35%;
     background-color: black;
 }

 .footer {
     background-color: #84b6f4;
     padding: 20px;
     color: #4b4b4b;
     font-weight: 600;
     font-size: 16px;
     height: auto;
 }

 .container-footer {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .footer-links li {
     display: flex;
     flex-direction: column;
     margin-right: 10px;
 }

 .footer-links{
    line-height: 5vh;
 }

 .footer-links li a {
     color: #4b4b4b;
     font-weight: 600;
     font-size: 16px;
     text-decoration: none;
 }

 .social-icon {
     display: inline-block;
     width: 40px;
     height: 40px;
     background-color: transparent;
     border-radius: 50%;
     text-align: center;
     margin-right: 10px;
     text-decoration: none;
     line-height: 30px;
 }