body {
    margin: 0;
}
.geral {
    width: 100vw;
    height: 100vh;
    background: rgb(238, 175, 226);
    display: flex;
} 

.container {
    max-width: 80vw;
    max-height: 100vh;
    display: flex;
    margin: 40px;
}