body {
    margin: 0;
}

.geral {
    display: flex;
    background-color: #f1f1f1;
}
/* 
.div-top {
    display: flex;
    height: 50vh;
}

.div-botton {
    display: flex;
    height: 50vh;
} */

.telagraph {
    display: flex;
    width: 80vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    padding-left: 20vw;
}

.graph{
    width: 32rem;
    height: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 3px 3px 3px 2px rgb(137, 137, 137);
}
.graph2{
    width: 15rem;
    height: 20rem;
    box-shadow: 3px 3px 3px 2px rgb(137, 137, 137);
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}