a,
li {
    list-style: none;
    text-decoration: none;
    color: black;
}

.menu {
    width: 18vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3.5px solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.085);
    position: fixed;
}

.menu>h2 {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    margin: 30px 0px;
}

.button {
    width: 60%;
    height: 40px;
    margin: 15px 0px;
    background-color: brown;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.button-atual {
    width: 60%;
    height: 40px;
    margin: 15px 0px;
    background-color: red;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-atual:hover{
    background-color: aqua;
}
.button:hover{
    background-color: aqua;
}

.button-sair {
    width: 40%;
    height: 40px;
    margin-top: 140px;    
    border-radius: 15px;
    border: 2px solid rgb(134, 2, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.button-sair:hover{
    width: 50%;
    height: 40px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
}