body {
    margin: 0;
}

.geral {
    width: 100vw;
    height: 100vh;
    background: rgb(238, 175, 226);
    display: flex;
}

.container {
    width: 25vw;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 0.084);
}

.botao {
    width: 60%;
    height: 30px;
    margin: 20px;
    border: none;
    border-radius: 10px;
}

.text>input {
    width: 15vw;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: rgba(156, 157, 151, 0.604);
}

.cadastrado {
    background-color: brown;
    width: 50vw;
    height: 100vh;
}